:root {
    /*Colors*/
    --color-background: linear-gradient(to bottom,#0d1d2c, #688a81) ;
    --color-nav: rgb(255, 255, 255) ;
    --color-text: #ffcc00 ;

    /*Fonts*/
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

/*General reset*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-primary);
}

/*Navigation bar*/
.hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav-menu {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.9s ease, transform 0.9s ease;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 60px;
  left: 1.5rem;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-nav);
  z-index: 1;
}

.nav-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.nav-menu a {
  color: var(--color-nav);
  text-decoration: none;
  height: 100%;
  padding: 0 30px;
}

.nav-menu a:visited {
  color: var(--color-nav);
}

.nav-menu a:hover {
  color: rgb(233, 202, 192);
}

.nav-menu a:active {
  color: var(--color-nav);
}

.blur {
  filter: blur(5px);
  transition: filter 0.8s ease;
}

/* parallax background */

.parallaxcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background: var(--color-background);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* common styles for layers */
.parallax-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; 
}

.layer00 img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 25%;
  transform-origin: center center;
  transition: transform 0.1s linear;
}

.layer0 img {
  position: absolute;
  width: 75%;
  height: auto;
  top: 30%;
  left: 0;
  transform-origin: center center;
  transition: transform 0.1s linear;

}

.layer1 :nth-child(1) {
  position: absolute;
  width: 100%;
  height: auto;
  top: 13%;
  right: 60%;
  transform-origin: center center;
}

.layer1 :nth-child(2) {
  position: absolute;
  width: 100%;
  height: auto;
  top: 25%;
  left: 70%;
  transform-origin: center center;
}

.layer1 :nth-child(3) {
  position: absolute;
  width: 100%;
  height: auto;
  top: 20%;
  left: 10%;
  transform-origin: center center;
}

/* layer 2: front mountains */
.layer2 img {
  position: absolute;
  width: 125%;
  height: auto;
  top: 25%;
  left: 0;
  transform-origin: center center;
  transition: transform 0.1s linear;
}

/* Layer 3: front clouds */
.layer3 img:first-child {
  position: absolute;
  width: 100%;
  height: auto;
  top: 30%;
  left: 0;
  transform-origin: center center;
  transition: transform 0.1s linear;
}

.layer3 img:nth-child(2) {
  position: absolute;
  width: 100%;
  height: auto;
  top: 20%;
  left: 60%;
  transform-origin: center center;
  transition: transform 0.1s linear;
}

.layer3 img:last-child {
  position: absolute;
  width: 100%;
  height: auto;
  top: 20%;
  left: 30%;
  transform-origin: center center;
  transition: transform 0.1s linear;
}

#stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
  background: transparent;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2; 
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.5) 100%);
}

/* Balloon */
.balloon-wrapper {
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 200px;
  transition: transform 0.1s linear;
  pointer-events: none; 
}

.balloon {
  width: 100%;
  height: auto;
}

model-viewer.balloon {
  width: 100%;
  height: 125px;
  display: block;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  z-index: 9999;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

/* Welcome! */
.message {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 80%;
  font-size: 3rem;
  color: var(--color-text)	;
  font-family: var(--font-secondary);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9), -2px -2px 5px rgba(0, 0, 0, 0.9);
}

.message.show {
  opacity: 1;
}

.hidden {
  display: none;
}

/* Inspirational questions */
.messageInspiration {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
  color: white;
  font-family: var(--font-secondary);
}

.messageInspiration.show, .messageReflection.show {
  opacity: 1;
  display: block;
}

.messageReflection {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  color: var(--color-text)	;
  font-family: var(--font-secondary);
  width: 80%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9), -2px -2px 5px rgba(0, 0, 0, 0.9);
}

footer {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
  font-size: 1rem;
  font-family: var(--font-secondary);
}

@media (max-width: 480px) {
  
  .hamburger {
    font-size: 1.5rem; 
  }

  .nav-menu {
    top: 50px;
    width: 100%;
  }

  .nav-menu a {
    padding: 10px 20px;
  }

  .parallaxcontainer {
    background-attachment: scroll;
  }

  .message, .messageInspiration, .messageReflection {
    font-size: 2rem;
  }

  .balloon-wrapper {
    left: 10%;
    width: 150px;
  }
}
