@media (min-width: 901px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        grid-column: 1 / -1;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        grid-column: span 2;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        grid-column: span 2;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        display: flex; 
        position: static;
    }

    .nav-menu.open {
        display: flex;
    }
}

@media (max-width: 480px) {
    main {
        grid-template-columns: 1fr; 
    }

    h1 {
        grid-column: span 1; 
    }

    .hamburger {
        display: block; /* Asegura que el botón de menú sea visible */
    }

    .nav-menu {
        display: none; /* Ocultar el menú inicialmente */
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: var(--navbar-color);
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-menu.open {
        display: flex;
    }
}
